<div>
  <h1>CREDIT PAGE</h1>
  <form ng-submit='$ctrl.addCredit()'>
    <div>add $<input type="number" name="" ng-model='$ctrl.newCredit.amount'></div>
    <div>NOTE: <input type="text" name="" ng-model='$ctrl.newCredit.note'></div>
    <input type='submit' value='Add to Credit'>
  </form>

  <h3>Total Credit</h3>
  <h3>{{$ctrl.totalCredit}}</h3>

  <table>
    <tr ng-repeat='creditEntry in $ctrl.creditEntries'>
      <td>{{creditEntry.amount | currency}}</td>
      <td>{{creditEntry.note}}</td>
      <td>{{creditEntry.createdAt | date }}</td>
    </tr>
  </table>

</div>
